html,
#menu .brand,
.header {
	/* font-family: D2Coding, 'D2 coding', monosapce; */
	/* font-family: monosapce; */
	font-family: Helvetica, Arial, sans-serif;
}

.copyright {
	position: fixed;
	bottom: 0;
	width: 150px;
}
